{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Inicio de Denuncias</h1>
        <p>Pagina de denuncias Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, eum in placeat qui
            deleniti ad praesentium porro, necessitatibus labore minima magnam natus perspiciatis. Error molestiae nam
            ab corporis blanditiis possimus explicabo exercitationem. Earum deleniti quae nisi voluptas fugit. Inventore
            ex reprehenderit ratione numquam perspiciatis cupiditate est perferendis, a, sapiente minima tempore
            praesentium distinctio at, facilis dicta dolorem obcaecati dolor? Repudiandae neque commodi dolorem. Minus
            neque veniam laborum, accusantium qui quam aut illum in ad quasi, ut animi consectetur, esse error
            voluptatem veritatis facere tempore magnam facilis quia mollitia odit ipsum. Autem amet eligendi repellat
            nihil culpa numquam dolores accusamus fugit!</p>
    </section>
</main>

{{form}}

{% endblock %}